
@media print {
    #ParteLogo {
        display:none;
    }

    #BarraSide {
        display:none;
    }
    #BarraSide2 {
        display:none;
    }
   #AccionesLabel {

        display:none
    }
    #Acciones {
        display:none;
    }
    #hPanel {display:none;
    }

    #SectionP {
            margin-top:5px;
            margin-right:1000px !important;
        }

    @media only screen and (min-width: 768px)
    {
        
        .wrapper > section {
            margin-left: 0px !important;
        }

      
    }
}