
@media print {
    #ParteLogo {
        display:none;
    }

    #BarraSide {
        display:none;
    }
    #BarraSide2 {
        display:none;
    }
   #AccionesLabel {

        display:none
    }
    #Acciones {
        display:none;
    }
    #hPanel {display:none;
    }
}