@{
    ViewBag.Title = "SunValley Services";
}

<h2>@ViewBag.Title.</h2>
<div>
    <img src="http://sunvalleyservicesrockypoint.com/wp-content/uploads/2016/06/weblogo.png" alt="Alternate Text" />
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
