@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/Imagenes/Sun-Valley-Banner.jpg" style="width: 100%; margin-top: -33px;" />
</div>
<div class="row">
    <div class="col-md-4">

    </div>
</div>